<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <header>
    <h1>Workflow Manager</h1>
        <% if (user) { %>
            <p>Logged in as <%= user.email %> <a href="../logout">Logout</a></p>
        <% } else { %>
            <p><a href="/auth/google">Login with Google</a></p>
        <% } %>
        <a href="/jobs">Jobs </a><a href="/clients">Clients </a><a href="/users">Users </a>
    </header>   
</body>
</html>