<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <header>
    <h1>Workflow Manager</h1><span>
        <% if (user) { %>
            Logged in as <%= user.email %> <a href="../logout">Logout</a>
        <% } else { %>
            <a href="/auth/google">Login with Google</a>
        <% } %>
    </span>
    </header>  
    <menu>
        <ul>
            <li>
                 <a href="/jobs">Jobs </a>
            </li>
            <li>
                <a href="/clients">Clients </a>
           </li>
           <li>
               <a href="/users">Users </a>
             </li>
        </ul>
    </menu> 
</body>
</html>