<%- include('../partials/header') %>

<h1>Create New Client</h1>
<div class="entry">
<form action="/clients" method="POST">
    <label>Company Name:
        <input type="text" name="companyName">
    </label>
    <label>Address:
        <input type="text" name="address">
    </label>
    <label>City:
        <input type="text" name="city"> 
    </label>
    <label>State/Province:
        <input type="text" name="province">
    </label>
    <label>Country:
        <input type="text" name="country">
    </label>
    <label>Postal Code:
        <input type="text" name="postalCode">
    </label>
    <label>HST payable:
        <select name="hst">
            <option value="true">Yes</option>
            <option value="false">No</option>
            </select>
    </label>
    <label>Contact Name:
        <input type="text" name="contact">
    </label>
    <label>Custom Dictionary:
        <input type="text" name="jargon">
    </label>
    <button type=submit>Submit</button>
</form>
</div>