body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.entry {
  border: 0px solid grey;
  border-radius: 10px;
  box-shadow: grey;
  margin: 10px;
  padding: 10px;
  background-color: lightblue;
}

.entry:hover {
background-color: cornflowerblue;
}

label {
  display: flex;
}

