<%- include('../partials/header') %>

<h1>Create New Job</h1>

<form action="/jobs" method="POST" enctype="multipart/form-data">
    <label>Select a file:
    <input type="file" id="myfile" name="source"> 
    </label>

    <!-- <label>Path to A/V file:
        <input type="text" name="source">
    </label> -->
    <label>Path to script or supporting document:
        <input type="text" name="sourceDocuments">
    </label>

    <label>Client:

        <select name="client">
        <% clientIds.forEach(function(id){ %>
            <option value="<%= id._id %>"><%= id.companyName %> <%= id._id %></option>
        <% }) %>
        </select>
    </label>


    <label>Due:
        <input type="date" name="dueDate">
    </label>
    <label>Service:
        <select name="service">
            <option value="Transcript">Transcribe</option>
            <option value="Captions">Caption</option>
            </select>
    </label>
    <label>Speed:
        <select name="speed">
            <option value="regular">Regular</option>
            <option value="rush">Rush</option>
            <option value="super rush">Super Rush</option>
            </select>
    </label>
    <label>File Length (mins):
        <input type="number" name="fileLength">
    </label>
    <label>Notes:
        <input type="text" name="privateNotes">
    </label>
    <label>Project:
        <input type="text" name="project">
    </label>



    <button type=submit>Submit</button>
</form>